/* Reset some default styles */
body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0;
    display: inline-block;
}

input, select, button {
    margin-bottom: 16px;
}

#resultMessage {
    margin-top: 16px;
}

a {
    margin-top: 16px;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.input-group label {
    margin-right: 10px;
    min-width: 150px;
}

.input-group input,
.input-group select {
    width: 100%;
}
